/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    overflow: hidden; /* Hide scrollbars for full-screen background */
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://source.unsplash.com/1920x1080/?nature'); /* Unsplash nature background */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Place behind other elements */
    filter: blur(8px); /* Optional: Add a slight blur effect */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
header {
    position: relative;
    background-color: rgba(51, 51, 51, 0.7); /* Semi-transparent background */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
}

#searchBar {
    padding: 15px;
    width: 70%;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 70px;
    height: 70px;
    background-image: url('https://primary.jwwb.nl/public/p/o/q/temp-ltqbhvxiogcjtmhhoqte/y2fmvv/logo.png');
    background-size: contain;
    cursor: pointer;
}

#logo:hover {
    transform: scale(1.1); /* Optional: Add a scale effect on hover */
}

/* Main Content Styles */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 30px;
}

.game {
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px; /* Increased height for a more immersive feel */
    cursor: pointer;
}

.game:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.game img {
    width: 100%;
    height: 70%; /* Adjusted height for better visual balance */
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

h3 {
    margin-top: 20px;
    font-size: 2em;
    color: #333;
    text-align: center;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    #searchBar {
        width: 100%;
    }
    .game {
        height: 300px;
    }
}
